.root{

    -fx-background-color: #616161;
}

.button{
    
    -fx-background-color: #616161;
    -fx-border-color: #424242;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover{

    -fx-background-color: #616161;
    -fx-border-color: #212121;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

