.navbar-right {
	margin: 0 5px;
}

.jumbotron.logo {
	margin-bottom: 0px;
	padding: 25px 10px;
}

.thumbnail> .caption {
	padding: 5px;
}

.ribbon {
   position: absolute;
   right: 10px; top: -5px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}
.ribbon span {
   font-size: 10px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
}
.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}

.pc span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.pc span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.pc span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

.xb span {background: linear-gradient(#9BC90D 0%, #79A70A 100%);}
.xb span::before {border-left-color: #1e5799; border-top-color: #79A70A;}
.xb span::after {border-right-color: #1e5799; border-top-color: #79A70A;}

.pl span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.pl span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.pl span::after {border-right-color: #1e5799; border-top-color: #1e5799;}

@alert-message-background: @brand-info;
#basket {
	padding: 10px;
	background-color: #f8f8f8;
	min-height: 100px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}

